*{
    background-color: #551A8B;
    background-image: url("https://media.giphy.com/media/JNidLUGnYAOVG/giphy.gif");
    background-size: cover;

}
 #finesse{
  /* border: 1px solid #ddd;
    border-radius: 4px;
    */
    
    max-width: 300px;
    max-height: 300px ;
    display: block;
    position: center;
    margin: 0 auto;
 }
.gta{
    color: red;
    border: 1px solid red;
    border-radius: 5px;

}
body{
    margin: 0; 
    padding: 0;

}
img {
    max-width: 100%;
    height: auto;
}
@media(max-width: 100%){
    body {
        background-color: red;
    }
}